body {
    background-color: grey;
    margin: 0;
    height: 100vh;
}
h1 {
    text-align: center;
    color: white;
    font-size: 3em;
    margin-top: 0;
    padding-top: 1em;
}

h2 {
    text-align: center;
    color: rgb(180, 240, 246);
    font-size: 3em;
    margin-top: 0;
    padding-top: 1em;
}
.card {
    justify-content: left;
    background-color: white;
    margin: 1em;
    margin-right: 900px;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.card-header {
    display: flex;
    justify-content: left;
    align-items: left;
    margin-bottom: 1em;
    font-size: 0.5em;
}